streamlit
openai
python-dotenv
pytesseract
Pillow
faiss-cpu
langchain          # auto-pulls langchain-community in new versions
langchain-openai
sentence-transformers
rank_bm25
unstructured[all-docs,powerpoint]